*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Customized Styling */
:root{
    --primary-color: #ffff;
    --text-color: #ff6e00;
    --fill-color: #ff7200;
}



body{

    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 50%),
    url(./assets/mainImage.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

/* Everything about the Header */

/* Nav Stylings */
nav{
    max-width: 100% ;
    padding: 50px 20px;
    height: 50px;
    display: flex;
   justify-content: space-between;
    align-items: center;
}

/* Logo Styling */
nav .nav_logo
{
color: var(--fill-color);
font-size: 20px;
letter-spacing: -1.5px;
cursor: pointer;
}

nav .nav_menuIcon{
    display: none;
    stroke: #ff7200;
    stroke-width: 3; 
    stroke-linecap: round; 
    stroke-linejoin: round;
}

/* styling the Menu and Items */
nav .nav_menu ul{
    display: flex;
    gap: 30px;
}

nav .nav_menu ul li{
    list-style: none;
}
nav .nav_menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    transition: 0.3s ease;
}

nav .nav_menu ul li a:hover{
    color: var(--text-color);
}

/* Styling for input form */
nav .nav_form {
  /* background-color: yellow; */
  width: 330px;
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  gap: 0;
}
nav .nav_form input, .nav_form button{
    margin: 0;
    gap: 0;
}

/* Styling for Search and Search button */
nav .nav_search{
    width: 190px;
    height: 40px;
    background: transparent;
    border: 1.5px solid var(--fill-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px;
    color: var(--primary-color);
    float: left;
    
}

::placeholder{
    color: var(--primary-color);
}

nav .nav_search:focus{
    outline: none;
}

nav .nav_sch_button{
    background-color: var(--fill-color);
    width: 90px;
    border: none;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    height: 40px;
}



/* Everything about the Header Ends here */

/* Main Section starts here */
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    /* background-color: red; */

}
main .main_Hero {
    /* height: 400px; */
    /* background-color: yellow; */
    padding-left: 50px;
    margin-top: 90px;
    /* background-color: blue; */
}

main .main_Hero h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: var(--primary-color);
}
main .main_Hero h2 span{
    color: var(--text-color);
}

main .main_Hero p{
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    word-spacing: 3px;
    line-height: 30px;
}

main .main_jn_button{
    background-color: var(--fill-color);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}

/* Main Form  begins here*/
 main .main_login_form{
    /* background-color: yellow; */
    height: inherit;
    /* background-color: yellow; */
      /* margin-left: 200px; */
    /* margin-top: 90px; */
 }

 main .form_items{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 470px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.7) 50%
    );
    /* float: right; */
    border-radius: 15px;
    padding: 10px;
    margin-right: 83px;
 }

 main .form_items .form_btn1{
    width: 200px;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    height: 60px;
    color: var(--text-color);
    font-size: 15px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 15px 25px 15px ;
    padding: 0px 9px;
    border: none;
    font-weight: bold;
    cursor: pointer;
 }

 main .form_items .form_btn1:focus{
    outline: none;
 }

 main .form_items input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid var(--fill-color);
  border-right: none;
  border-left: none;
  border-top: none;
  color: var(--primary-color);
  font: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 10px;
  font-family: sans-serif;
  margin-bottom: 10PX;
  /* letter-spacing: -0.1px; */
 }

 main .form_items input:focus{
    outline: none;
 }

 main .form_items .form_btn2{
    font-family: sans-serif;
    text-align: center;
    height: 70px;
    color: var(--primary-color);
    font-size: 15px;
    background-color: var(--fill-color);
    border-radius: 10px;
    margin: 15px 25px 15px ;
    padding: 0px 9px;
    border: none;
    font-weight: bold;
    cursor: pointer;
 }

 main .form_items .form_ins{
    /* background-color: yellow; */
    text-align: center;
    color: var(--primary-color);
    margin-top: 10px;
    /* font-weight: bold; */
    font-size: 16px;
 }

 main .form_items .form_p2{
    margin-bottom: 15px;
 }

 main .form_items .form_p2 a{
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
 }

 main .form_items .form_p2 a span {
    color: var(--primary-color);
 }

 main .form_items .form_facebook{
    fill: var(--primary-color);
    width: 30px;
 }

 @media screen and (max-width: 976px) {
    nav .nav_menu {
        display: none; /* Hide menu items on mobile */
    }

    nav .nav_form{
        display: none;
    }

    nav .nav_menuIcon {
        display: block; /* Display menu icon on mobile */
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    main .form_items{
        margin-top: 20px;
        margin-left: 50px;
    }
}

@media screen and (min-width: 977px) {
    nav .nav_menuIcon {
        display: none; /* Hide menu icon on desktop */
    }

    main {
        display: flex;
        flex-direction: row;
        flex-direction: wrap;
    }

    nav .nav_menu {
        display: flex; /* Ensure menu items are displayed on desktop */
        flex-direction: row;
    }
    nav{   
        padding: 20px 20px;
    }

nav .nav_form{
    display: flex;
    flex-direction: row;
}
}

.form_tweeter{
    fill: var(--primary-color);
    width: 29px;
}

.form_google{
    fill: var(--primary-color);
    width: 29px;
}

.form_skype {
    fill: var(--primary-color); /* Ensure --primary-color is defined */
    width: 26px;
}

.form_skype:hover{
    fill: var(--fill-color);
}

.form_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px 4px;
    cursor: pointer;
}
.form_icons svg:hover{
    fill: var(--fill-color);
    stroke: var(--fill-color);
}

.form_instagram:hover{
    stroke: var(--fill-color);
    fill: var(--fill-color);
}


.form_instagram {
    width: 25px;
 }

 .form_instagram path {
    fill: var(--primary-color);
 }
 .form_instagram path:hover{
    fill: var(--fill-color);
 }

 .form_tweet {
    width: 30px;   /* Set width */
    height: 30px;  /* Set height */
    color: white;   /* Set the SVG fill color to white */
    stroke: none;   /* Ensure there is no stroke */
 }
