*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Customized Styling */
:root{
    --primary-color: #ffff;
    --text-color: #ff6e00;
    --fill-color: #ff7200;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 50%),
    url(./assets/mainImage.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;

}

/* Everything about the Header */

/* Nav Stylings */
nav{
    max-width: 100% ;
    padding: 50px 50px;
    height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* Logo Styling */
nav .nav_logo
{
color: var(--fill-color);
font-size: 20px;
letter-spacing: -1.5px;
cursor: pointer;
}

nav .nav_menuIcon{
    stroke: #ff7200;
    stroke-width: 3; 
    stroke-linecap: round; 
    stroke-linejoin: round;
}

/* styling the Menu and Items */
nav .nav_menu ul{
    display: flex;
    gap: 40px;
}

nav .nav_menu ul li{
    list-style: none;
}
nav .nav_menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    transition: 0.3s ease;
}

nav .nav_menu ul li a:hover{
    color: var(--text-color);
}

/* Styling for input form */
nav .nav_form {
  /* background-color: yellow; */
  width: 330px;
  display: flex;
  gap: 0;
}
nav .nav_form input, .nav_form button{
    margin: 0;
    gap: 0;
}

/* Styling for Search and Search button */
nav .nav_search{
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1.5px solid var(--fill-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px;
    color: var(--primary-color);
    float: left;
    
}

::placeholder{
    color: var(--primary-color);
}

nav .nav_search:focus{
    outline: none;
}

nav .nav_sch_button{
    background-color: var(--fill-color);
    width: 100px;
    border: none;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    height: 40px;
}

/* Styling for the Menu_Search Bar */

@media screen and (min-width: 947px) {
   nav .nav_menuIcon {
        display: none; /* Ensures the element is not displayed */
    }
}

@media screen and (max-width: 946px){
   nav{
    display: flex;
    padding: 40px, 50px ;
    /* gap: 20px; */
   }
 
   nav .nav_logo{
    font-size: 20px;
   }

    nav .nav_menu, nav .nav_form{
        display: none;
    }

}


/* Everything about the Header Ends here */
main {
    width: 100%;
    height: 400px;
    display: flex;

}
main .main_Hero {
    width: 75%;
    height: 400px;
}


/* The Main Section Starts Here */